.App {
  text-align: center;
  /* background-color: #333333; 8083c9; */
  align-items: center;
  /* color: white; */
  display: flex;
  flex-direction: column;
  height: calc(100vh - 4rem);
  padding: 2rem;
}

body {
  /* background: linear-gradient(to top, #f6d365, #fda085); */
}

.plain-link {
  color: inherit;
  text-decoration: none;
}

.plain-link:visited {
  color: inherit;
}

.big-input {
  border-radius: 0.5rem;
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 1rem;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
